@use 'variables' as *;
@use 'mixins' as *;



.about {
  padding-bottom: 70px;
  h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;

    h2 {
      font-weight: 400;
    }
  }
  &-content {
    padding: 0 2rem;

    @include breakpoints-down(medium) {
      flex-direction: column;
    }

    &-text {
      text-align: left;
      padding: 0 15px;

      @include breakpoints-up(medium) {
        padding-right: 35px;
      }

      @include breakpoints-down(medium) {
        order: 1;
        margin-bottom: 50px;
      }
    }

    &-img{
       padding: 121px 27px 56px;

      @include breakpoints-down(medium) {
        order: 2;
        padding: 0;
      }
      img{

        width: 500px;
        height: auto;

        @include breakpoints-down(medium) {
          max-width: 100%;
          min-height: 315px;
          object-fit: cover;
        }
      }
    }
  }
}
