@use 'variables' as *;
@use 'mixins' as *;


.contact {
  text-align: center;
  background: $lightGray;
  padding-bottom: 40px;

  @include breakpoints-down(sm){
     padding-left:  20px;
     padding-right: 20px;
  }

  h2 {
    padding: 50px 0px;
  }

  &-row {
    background: $brightCyan;
    border-radius: 30px;
    color: $white;

    p {
      color: $black;
      padding-bottom: 20px;
    }
  }

  .contact-info {
    padding-top: 30px;
    color: $black;

    @include breakpoints-down(sm) {
      padding-bottom: 50px;
    }

    .contactinfo {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 30px;

      @include breakpoints-down(sm) {
        padding: 20px;
      }

      &-text {
        text-align: center;
        font-weight: 400;

        a{
          color: $black;
        }


      }
    }
  }

  .contact-form {
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $white;
    border-radius: 30px;
    background: $black;

    .form-input {
      width: 99%;
      padding: 12px 10px;
      margin: 10px 0;
      border-radius: 20px;
    }
    label{
      font-size: 0.9rem;
    }
  }
}
