//  Colors




$paleLilac :#E4E9F7;
$brightCyan : #21AAED;
$grayishBlue :#4D545D; // headings
$lightGray: #222222; // paragraphs
$silver: #9da0a3; // box-shadowInset+
$veryLightBlue :#E9EDF2;  //box-shadowInset-
$white: #ffffff;

$black: #000000;
$lighterBlack: #333333;
