@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Prompt:wght@300;400&display=swap");
.fade {
  visibility: hidden;
}

@keyframes fadeIn {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fadeIn {
  animation: fadeIn 200ms ease-in-out forwards;
}

@keyframes fadeOut {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.fadeOut {
  animation: fadeOut 200ms ease-in-out forwards;
}

.getTo {
  background-color: #045de9;
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Prompt", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  color: #000000;
  line-height: 1.6;
  min-height: 300vh;
  background-color: #ffffff;
  overflow-x: hidden;
}
@media (min-width: 1024px) {
  body {
    font-size: 1.25rem;
  }
}
body.noscroll {
  overflow: hidden;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

p {
  margin-bottom: 1rem;
  color: #000000;
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 5px;
}

h1 {
  margin-top: 0;
  font-size: 3.552rem;
}
@media (max-width: 1023px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 639px) {
  h1 {
    font-size: 1.802rem;
  }
}

h2 {
  font-size: 2.441rem;
}
@media (max-width: 639px) {
  h2 {
    font-size: 1.602rem;
  }
}

h3 {
  font-size: 1.953rem;
}
@media (max-width: 639px) {
  h3 {
    font-size: 1.424rem;
  }
}

h4 {
  font-size: 1.563rem;
}
@media (max-width: 639px) {
  h4 {
    font-size: 1.266rem;
  }
}

h5 {
  font-size: 1.25rem;
}
@media (max-width: 639px) {
  h5 {
    font-size: 1.125rem;
  }
}

small,
.text_small {
  font-size: 0.8rem;
}
@media (max-width: 639px) {
  small,
.text_small {
    font-size: 0.889rem;
  }
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.cy {
  padding-right: 30px;
  padding-left: 28px;
}
@media (min-width: 640px) {
  .cy {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.con_flex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
@media (max-width: 1023px) {
  .row {
    display: block;
    margin-bottom: 50px;
  }
}

.column {
  width: 100%;
}

.btn_cta {
  padding: 0.9rem 2rem;
  background-color: transparent;
  border: 1px solid #21AAED;
  border-radius: 50px;
  cursor: pointer;
  color: #ffffff;
  font-size: 0.9375rem;
  font-weight: 500;
}
.btn_cta:hover {
  background-color: #045de9;
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
  color: #ffffff;
}

.btn_primary {
  padding: 18px 35px;
  background-color: #000000;
  border: 1px solid #9da0a3;
  border-radius: 50px;
  cursor: pointer;
  color: #ffffff;
  font-size: 0.9375rem;
  font-weight: 500;
}
.btn_primary:hover {
  background-color: #ffffff;
  color: #000000;
}

.btn_secondary {
  padding: 18px 35px;
  background-color: #21AAED;
  border: 1px solid #9da0a3;
  border-radius: 50px;
  cursor: pointer;
  color: #ffffff;
  font-size: 0.9375rem;
  font-weight: 500;
}
.btn_secondary:hover {
  background-color: #ffffff;
  color: #000000;
}

.gradient {
  background-color: #045de9;
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.solid {
  border-top: 3px solid #9da0a3;
}

.center {
  display: grid;
  place-items: center;
}

.header {
  position: fixed;
  padding: 24px 0px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: transparent;
  transition: background 250ms ease-in;
  color: #ffffff;
}

.nav {
  position: relative;
  background: transparent;
}
@media (min-width: 640px) {
  .nav {
    margin-top: 1rem;
  }
}

.nav_links a {
  color: #ffffff;
  margin-right: 10px;
  font-weight: 400;
  position: relative;
}
.nav_links a:before {
  content: "";
  position: absolute;
  display: block;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -10px;
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.nav_links a:hover {
  color: #21AAED;
}
.nav_links a:hover::before {
  opacity: 1;
}

.nav_links a:not(last-child) {
  margin-right: 16px;
}

.nav_links-reverse {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  background-color: #E9EDF2;
}
.nav_links-reverse a {
  color: #4D545D;
}
.nav_links-reverse:hover {
  color: #21AAED;
}

nav .logo {
  padding-top: 1rem;
}

.nav_toggle span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #21AAED;
  transform-origin: 2px;
  transition: all 300ms ease-in-out;
}

.nav_toggle span:not(:last-child) {
  margin-bottom: 5px;
}

/*MOBILE DESIGN TOGGLE*/
.open span:first-child {
  transform: rotate(45deg);
}

.open span:nth-child(2) {
  opacity: 0;
}

.open span:last-child {
  transform: rotate(-45deg);
}

/*CANNOT ANIMATE THE DISPLAY: NONE AND BLOCK*/
.nav_toggle .open .overlay {
  display: block;
  animation: fadeIn 300ms ease-in-out forwards;
}

.overlay {
  opacity: 0;
  position: fixed;
  top: 8%;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(#9095a7, transparent);
}

.nav_mobile {
  position: absolute;
  width: calc(100% - 3rem);
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  margin-top: 1.5rem;
  padding: 1.625rem;
  border-radius: 5px;
  z-index: 1;
}

.nav_mobile a {
  display: block;
  padding: 0.625rem;
  color: #4D545D;
  text-align: center;
}

.nav_mobile a:hover {
  color: #21AAED;
}

@media (min-width: 1024px) {
  .pc-hide {
    display: none;
  }
}

@media (max-width: 1023px) {
  .mob-hide {
    display: none;
  }
}

.hero {
  padding: 30vh 0;
  background: #123 url(https://unsplash.it/900);
  background-size: cover;
  background-blend-mode: multiply;
}
@media (max-width: 639px) {
  .hero {
    padding: 20vh 0;
  }
}
.hero-content {
  color: #ffffff;
  text-align: center;
}
.hero h1 {
  margin-bottom: 30px;
}
.hero h5 {
  display: inline-flex;
  align-items: center;
}
.hero-icon {
  white: 50px;
  height: 50px;
}

.about {
  padding-bottom: 70px;
}
.about h2 {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.about h2 h2 {
  font-weight: 400;
}
.about-content {
  padding: 0 2rem;
}
@media (max-width: 1023px) {
  .about-content {
    flex-direction: column;
  }
}
.about-content-text {
  text-align: justify;
  padding: 0 15px;
}
@media (min-width: 640px) {
  .about-content-text {
    padding-right: 35px;
  }
}
@media (max-width: 1023px) {
  .about-content-text {
    text-align: left;
    order: 1;
    margin-bottom: 50px;
  }
}
.about-content-img {
  padding: 121px 27px 56px;
}
@media (max-width: 1023px) {
  .about-content-img {
    order: 2;
    padding: 0;
  }
}
.about-content-img img {
  width: 500px;
  height: auto;
}
@media (max-width: 1023px) {
  .about-content-img img {
    max-width: 100%;
    min-height: 315px;
    object-fit: cover;
  }
}

.skills {
  background-color: #000000;
  padding: 50px 30px;
  text-align: center;
  color: #ffffff;
}
.skills p {
  color: #ffffff;
  margin-bottom: 70px;
}
.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 30px;
}
@media (min-width: 640px) {
  .skills-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1024px) {
  .skills-grid {
    grid-template-columns: repeat(8, 1fr);
  }
}
.skills-title {
  margin-bottom: 10px;
  font-size: 1.0625rem;
  line-height: 1.2;
  color: #ffffff;
}

.project h2 {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 400;
  padding-bottom: 50px;
}
@media (max-width: 639px) {
  .project h2 {
    margin-bottom: 10px;
  }
}
.project p {
  margin-bottom: 50px;
}
.project-content {
  padding: 0 1rem;
}
@media (max-width: 1023px) {
  .project-content {
    flex-direction: column;
  }
}
.project-content-text {
  text-align: left;
  padding-bottom: 20px;
  line-height: 1.6;
}
@media (min-width: 640px) {
  .project-content-text {
    padding-right: 35px;
  }
}
@media (max-width: 1023px) {
  .project-content-text {
    margin-bottom: 50px;
  }
}
@media (max-width: 639px) {
  .project-content-text .project-buttons {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    text-align: center;
  }
  .project-content-text .project-buttons a {
    margin-bottom: 10px;
  }
}
.project-content-img img {
  width: 60%;
  height: 500px;
  margin: 0 104px;
}
@media (max-width: 1023px) {
  .project-content-img img {
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 639px) {
  .project-content-img img {
    width: -webkit-fill-available;
    min-height: 415px;
    object-fit: cover;
    padding: 0;
  }
}

.right-text {
  padding-left: 35px;
  order: 2;
}
@media (max-width: 639px) {
  .right-text {
    padding-left: 0;
  }
}

.left-img {
  order: 1;
}

.contact {
  text-align: center;
  background: #222222;
  padding-bottom: 40px;
}
@media (max-width: 639px) {
  .contact {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.contact h2 {
  padding: 50px 0px;
}
.contact-row {
  background: #21AAED;
  border-radius: 30px;
  color: #ffffff;
}
.contact-row p {
  color: #000000;
  padding-bottom: 20px;
}
.contact .contact-info {
  padding-top: 30px;
  color: #000000;
}
@media (max-width: 639px) {
  .contact .contact-info {
    padding-bottom: 50px;
  }
}
.contact .contact-info .contactinfo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
}
@media (max-width: 639px) {
  .contact .contact-info .contactinfo {
    padding: 20px;
  }
}
.contact .contact-info .contactinfo-text {
  text-align: center;
  font-weight: 400;
}
.contact .contact-info .contactinfo-text a {
  color: #000000;
}
.contact .contact-form {
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  border-radius: 30px;
  background: #000000;
}
.contact .contact-form .form-input {
  width: 99%;
  padding: 12px 10px;
  margin: 10px 0;
  border-radius: 20px;
}

.footer {
  background-color: #000000;
  color: #ffffff;
}
.footer .row {
  margin-bottom: 50px;
}
.footer-row {
  align-items: center;
}
@media (max-width: 1023px) {
  .footer-row {
    padding: 0 30px;
    text-align: center;
  }
}
@media (max-width: 639px) {
  .footer-row {
    padding: 0 20px;
    text-align: center;
  }
}
@media (max-width: 1023px) {
  .footer .column-text {
    padding-bottom: 20px;
  }
}
.footer_social {
  padding: 0 10px;
  margin-bottom: 56px;
}
@media (max-width: 639px) {
  .footer_social {
    padding: 10px;
    margin-bottom: 0;
  }
}
.footer_social-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_social-links a {
  color: #ffffff;
  margin-right: 1.5rem;
}
.footer_social-links a i {
  font-size: 2rem;
  transition: color 200ms ease-in-out;
}
.footer_social-links a i:hover {
  color: #21AAED;
}
.footer-copyright {
  padding-top: 30px;
  font-size: 15px;
  text-align: center;
}
.footer-copyright a {
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
